:root {
    --snow: hsla(315, 100%, 99%, 1);
    --prussian-blue: #0B3954;
    --smoky-black: #141204;
    --bittersweet: #FF5154;
    --forest-green: #4D8B31;
    --tea-green: #BFD8BD;
    --oxford-blue: #1B263B;
    --midnight-green: #13505B;
    --myrtle-green: #297373;
    --saffron: #F7C548;
}