:root {
    --snow: #fffafe;
    --prussian-blue: #003153;
    --gunmetal: #002C3A;
    --smoky-black: #141204;
    --tea-green: #BFD8BD;
    --cream: #FFFDD0;
    --oxford-blue: #002147;
    --saffron: #F7C548;
    --deep-coral: #FF6F61;
    --light-teal: #80CBC4;
}