.header {
    position: fixed;
    top: 0;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 40px;
    font-weight: bold;
    z-index: 10;
}

.header__scrolled {
    background-color: rgba(20, 18, 4, 0.5);
}

.header nav {
    display: flex;
    gap: 20px;
}

.header__link {
    text-decoration: none;
    color: var(--snow);
}

.header__link:hover {
    cursor: pointer;
    text-shadow: 0 0 3px var(--snow);
}

.header__link-active {
    text-decoration: none;
    color: var(--saffron);
}

.header__toggle-menu {
    border: none;
    font-size: x-large;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: var(--snow);
    background-color: transparent;
}

.header__toggle-menu:hover {
    cursor: pointer;
    color: var(--saffron);
}

.header__toggle-menu-popup {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100vh;
    background-color: rgba(20, 18, 4, 0.75);
}

.header__toggle-menu-popup-close {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 60px;
    padding: 0 40px;
}

.header__toggle-menu-popup-close button {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    border: none;
    color: var(--snow);
    background-color: transparent;
}

.header__toggle-menu-popup-close button:hover {
    cursor: pointer;
    color: var(--saffron);
}

.header__toggle-menu-popup nav {
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}